/* debug */

.container{
  text-align: center;
  margin-top: 3%;
}


[class*='col-']{
  height: auto;
}



img{
  height: 200px;
  background-color: lightblue;
  border-radius: 20%;
}
.row img {
  padding:30px;
}
